.container {
    display: flex;
    max-height: 95vh;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    // padding: 10px;
    padding: 0;
    overflow-y: auto;
}

@media screen and (max-width: 767px) {
    .container {
        flex: content;
    }
}
