.container {
    display: flex;
    flex: 1;
    max-height: 95vh;
    overflow-y: auto;
}

.wrapper {
    flex: 1;
    padding: 10px;
    height: max-content;
}

@media screen and (max-width: 767px) {
    .container {
        flex: content;
    }
}
