.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.loginContainer {
    position: relative;
    display: flex;
    background-color: #424242;
    color: #fff;
    width: 50%;
    height: 55%;
    border-radius: 0.83vw;
    z-index: 2;
}

.leftSide {
    width: 56%;
    padding: 3.33vw 2.5vw;
}

.topWelcome {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 2.5vw;
}

.dodoLogo {
    width: 3.5vw;
}

p {
    font-size: 1.66vw;
    font-weight: 300;
}

.leftSideFirstSentence {
    margin-top: 2vw; // 2.5 -> 2
}

.leftSideLastSentence {
    margin-top: 1.66vw;
}

.middleBar {
    background-color: #d9d9d9;
    border: none;
    margin: 5% 0;
    border-radius: 0.83vw;
    // something is wrong with the width of this bar
}

.rightSide {
    width: 38%;
    padding: 4.16vw 2.5vw;
    display: flex;
    flex-direction: column;
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424242;
    color: white;
    font-size: 0.83vw;
    border: 0.1875em solid white;
    border-radius: 0.83vw;
    height: 2.5vw;
    width: 100%;
    padding: 0.21vw;
    cursor: pointer;
}

.googleLogo {
    height: 75%;
    margin: 0 0.42vw 0 0;
}

.googleAccountBold {
    font-weight: 600;
}

.googleButton:hover {
    background-color: #272727;
    transition: 0.25s;
}

.orText {
    font-weight: 600;
    font-size: 1.25vw;
    margin: 0.83vw 0.42vw;
}

input {
    background-color: #fff;
    border: none;
    padding: 0.83vw;
    margin: 0.42vw 0;
    font-size: 0.93vw;
    font-family: inherit;
    border-radius: 0.83vw;
    width: 90%; //temporary
    height: 0.83vw;
}

::placeholder {
    color: #424242;
}

.loginButton {
    width: 50%;
    margin-top: 0.83vw;
    background-color: #4daec3;
    color: #fff;
    font-size: 1.04vw;
    border: none;
    padding: 0.42vw;
    border-radius: 0.58vw;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #3d8b9c;
    transition: 0.25s;
}

.bottomBlock {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: #272727;
    border: none;
    border-radius: 0.83vw;
    z-index: -1;
}
