.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.loginContainer {
    position: relative;
    display: flex;
    background-color: #424242;
    color: #fff;
    width: 50vw;
    height: 25.5vw;
    border-radius: 0.83vw;
    z-index: 2;
}

.topMobile {
    display: none;
}

.leftSide {
    width: 56%;
    padding: 3.33vw 2.5vw;
}

.topWelcome {
    display: flex;
    justify-content: space-between;
}

.h1Welcome {
    font-size: 2.5vw;
}

.dodoLogo {
    width: 3.5vw;
}

.dodoName {
    color: #4DAEC3;
}

.leftSideFirstSentence, .leftSideLastSentence, .leftSideDescription {
    font-size: 1.66vw;
    font-weight: 300;
}

.leftSideFirstSentence {
    margin-top: 2vw; // 2.5 -> 2
}

.leftSideLastSentence {
    margin-top: 1.66vw;
}

.middleBar {
    background-color: #d9d9d9;
    border: none;
    margin: 5% 0;
    border-radius: 0.83vw;
    // something is wrong with the width of this bar
}

.rightSide {
    width: 38%;
    padding: 4.16vw 2.5vw;
    display: flex;
    flex-direction: column;
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424242;
    color: white;
    font-size: 0.83vw;
    border: 0.1875em solid white;
    border-radius: 0.83vw;
    height: 2.5vw;
    width: 100%;
    padding: 0.21vw;
    cursor: pointer;
}

.googleLogo {
    height: 75%;
    margin: 0 0.42vw 0 0;
}

.googleAccountBold {
    font-weight: 600;
}

.googleButton:hover {
    background-color: #272727;
    transition: 0.25s;
}

.orText {
    font-weight: 600;
    font-size: 1.25vw;
    margin: 0.83vw 0.42vw;
}

.loginForm input {
    background-color: #fff;
    border: none;
    padding: 0.83vw;
    margin: 0.42vw 0;
    font-size: 0.93vw;
    font-family: inherit;
    border-radius: 0.83vw;
    width: 90%;
    height: 0.83vw;
}

::placeholder {
    color: #424242;
}

.loginButton {
    width: 50%;
    margin-top: 0.83vw;
    padding: 0.42vw;
    background-color: #4daec3;
    color: #fff;
    font-size: 1.04vw;
    border: none;
    border-radius: 0.58vw;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #3d8b9c;
    transition: 0.25s;
}

.bottomBlock {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: #272727;
    border: none;
    border-radius: 0.83vw;
    z-index: -1;
}

// z-indexes are supposed to dissapear

@media screen and (max-width: 1439px) {
    .loginContainer {
        width: 55vw;
        height: 28vw;
    }

}

@media screen and (max-width: 1023px) {
    .loginContainer {
        width: 70vw;
        height: 39.5vw;
    }

    .leftSide {
        padding: 4.5vw 3.25vw;
    }

    .h1Welcome {
        font-size: 3.75vw;
    }

    .dodoLogo {
        width: 5.5vw;
    }

    .leftSideFirstSentence, .leftSideLastSentence, .leftSideDescription {
        font-size: 2.49vw;
    }

    .leftSideFirstSentence {
        margin-top: 2.5vw; // 3 -> 2.5
    }
    
    .leftSideLastSentence {
        margin-top: 2.49vw;
    }

    .rightSide {
        padding: 5vw 3.5vw;
    }
    
    .googleButton {
        font-size: 1.245vw;
        height: 3.5vw; // 3.75 by the calculations
        padding: 0.315vw;
    }

    .googleLogo {
        margin: 0 0.63vw 0 0;      
    }

    .orText {
        font-size: 1.875vw;
        margin: 1.245vw 0.63vw;
    }

    .loginForm input {
        padding: 1.245vw;
        margin: 0.63vw 0;
        font-size: 1.39vw;
        border-radius: 1.245vw;
        height: 1.245vw;
    }

    .loginButton {
        margin-top: 1.245vw;
        padding: 0.63vw;
        font-size: 1.56vw;
        border-radius: 0.87vw;
    }
}

@media screen and (max-width: 767px) {
    .loginContainer {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .topMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dodoNameMobile {
        color: #4DAEC3;
        font-size: 12vw; //5vh
        font-weight: 600;
        // margin: 5vh 0 1vh 0;
    }

    .hrLineMobile {
        width: 45vw;
        margin: 2vh 0 2vh 0;
        border: solid 1px #fff;
        border-radius: 2px;
    }

    .rightSide {
        width: 63.7%;
        text-align: center;
    }

    .googleButton {
        font-size: 2.5vw;
        height: 7.875vw;
        padding: 0.7vw;
        border-radius: 2vw;
        border: 2px solid #fff;
    }

    .googleLogo {
        margin-right: 2vw;      
    }

    .orText {
        font-size: 2.75vw;
        // margin: 2.8vw 1.42vw;
        margin: 2vh 0.8vh;
    }

    .loginForm input {
        padding: 2.8vw;
        // margin: 1.42vw 0;
        margin: 0.8vh 0;
        font-size: 3vw;
        border-radius: 2vw;
        height: 2.8vw;
        text-align: center;
    }

    .loginButton {
        // margin-top: 4vw;
        margin-top: 2.2vh;
        padding: 1.25vw 5vw;
        font-size: 3.5vw;
        border-radius: 1.8vw;
    }

    .topWelcome {
        display: none;
    }
    
    .dodoLogo {
        display: none;
    }

    .middleBar{
        display: none;
    }

    .leftSideFirstSentence, .leftSideLastSentence, .leftSideDescription {
        font-size: 3.8vw;
        // font-size: 2.75vh;
        font-weight: 300;
        text-align: center;
        margin: auto -5vw;
    }
    
    .leftSideFirstSentence {
        margin-top: 2vw; // 2.5 -> 2
    }
    
    .leftSideLastSentence {
        margin-top: 2.5vh;
    }

    .bottomBlock {
        // position: absolute;
        // bottom: 0;
        // width: 100%;
        height: 28vh;
        // background-color: #272727;
        // border: none;
        border-radius: 2vw;
        // z-index: -1;
    }
}
