@use '../vars' as *;

.container {
    background-color: $basebg-color;
    color: $contrastbg-color;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.elementWithPipe {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.navbarPipe {
    width: 0.25vw;
    height: 50%;
    margin: auto 0;
    background-color: $lightgray-color;
    border-radius: 2px;
}

.navbarElement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0.6;
    height: 60%;
    margin: auto;
    font-size: 1vw;
    color: $basebg-color;
    background-color: $third-color;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    transition: height 0.1s ease, background-color 0.2s, color 0.1s;
}

.activeNavbarElement {
    margin-bottom: 0;
    height: 80%;
    background-color: $basebg-color;
    color: $contrastbg-color;
    border-radius: 5px 5px 0 0;
    border: none;
    transition: height 0.2s ease, background-color 0.2s, color 0.1s;
}

@media screen and (max-width: 1023px) {
    .navbarElement {
        font-size: 1.5vw;
    }

    .navbarPipe {
        width: 0.5vw;
        border-radius: 2px;
    }

    .navbarElement {
        flex-grow: 0.75;
    }
}
