.container {
   display: flex;
   flex: 1;
   gap: 10px;
   height: 100vh;
   margin: 10px;
   overflow-y: hidden;
}

.middleContainer {
   flex: 5;
   display: flex;
   flex-direction: column;
   gap: 10px;
   overflow-y: auto;
}

.rightContainer {
   display: flex;
   flex-direction: column;
   flex: 3;
   gap: 10px;
}
