@use "varsmodule" as *;

* {
  margin: 0;
  font-family: "Asap", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

.main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  flex: 1;
}
