.calendar-wrapper {
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 420px;
}

//TODO - SET SIZE OF UPPER COMPONENTS TO BEHAVE MORE NATURAL TOGETHER

.calendar-specifiers {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: self-end;
  align-self: flex-end;
  height: 40px;
}

.calendar-date {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  height: 45px;
  position: relative;
  top: 10px;
  background-color: var(--lightgray-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.date {
  align-self: center;
  font-size: 1.3rem;
  margin-left: 5px;
}

.calendar-block {
  flex-grow: 2;
  width: 100%;
  height: 350px;
  border: 4px solid var(--lightgray-color);
  border-radius: 10px;
  background-color: var(--basebg-color);
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .calendar-wrapper {
    width: 400px;
  }

  .widget-box {
    width: 60px;
  }
}
