@import "vars.module.css";

* {
  box-sizing: border-box;
  margin: 0;
}

.left {
  height: 100vh;
  flex-grow: 2;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 8%;
  width: 100%;
  margin: none;
  /* background-color: #2d3142; */
  background-color: var(--primary-color);
  border-bottom-right-radius: 10px;
}

.logo-image {
  margin-left: 20px;
  aspect-ratio: 1/1;
  height: 40%;
  background-color: white;
  border-radius: 50%;
}

.logo-app-name {
  font-size: 25px;
  font-family: sans-serif;
  color: white;
}

.menu-container {
  height: 80%;
  background-color: #ffff;
}

.user-tile {
  display: flex;
  position: relative;
  background-color: rgb(207, 207, 207);
  margin-left: 20px;
  height: 55%;
  width: 80%;
}

.user-container {
  display: flex;
  align-items: center;
  height: 12%;
  background-color: beige;
}

.user-avatar {
  background-color: gray;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
}

.user-name {
  align-self: flex-end;
  background-color: gray;
  height: 35%;
  width: 90%;
}
