//@use "varsmodule" as *;

// MAIN AND UP STYLE

.navbar-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  background-color: var(--primary-color);
}

.upper-container {
  width: 290px;
  height: 6vh;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--third-color);
  border-bottom-right-radius: 10px;
  transition: 0.5s;
  font-weight: 600;
}

.logo-container {
  display: flex;
}

.logo-image {
  margin: 0 20px 0 20px; 
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.logo-image-link {
  display: flex;
  align-items: center;
}

.logo-app-name {
  font-size: 25px;
  font-family: sans-serif;
  color: #fff;
}

.navbar-side {
  width: 280px;
  height: 95vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 300px;
  background-color: var(--primary-color);
  transition: 0.5s;
}

// HIDE MENU 
.hide {
  transition: 0.5s;
  &.navbar-side {
    width: 80px;
    //background-color: var(--basebg-color);
    //border-right: 3px solid var(--primary-color);
  }

  &.upper-container {
    width: 90px;
    gap: 0;
    justify-content: space-around;
  }

  &.menu-icon {
    margin: 0;
  }

  &.logo-app-name {
    display: none;
  }

  &.logo-image {
    margin: 0;
  }

  &.menu-item {
    width: 64px;
  }

  &.menu-link-tag {
    display: none;
  }

  &.user-container {
    padding-left: 0.5rem;
  }

  &.user-info-container {
    display: none;
  }

  &.logout-background {
    display: none;
  }

  &.logout-background-snippet {
    display: none;
  }
}

// MENU STYLE
.menu-container {
  height: 90%;
  display: flex;
}

.menu-list {
  list-style-type: none;
  padding: 10px 0 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.menu-link:visited {
  color: #fff;
}

.menu-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.menu-link:hover {
  .menu-item {
    background-color: hsl(0, 0%, 26%);
  }

  .menu-link-icon {
      font-size: 32px;
      transition: 0.5s;
  }

  .menu-link-tag {
    font-size: 21px;
    transition: 0.5s;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  margin-top: 25px;
  width: 230px;
  height: 60px;
  background-color: var(--third-color);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.menu-link-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 30px;
  transition: 0.5s;
}

.menu-link-icon::after {
  content: "";
  display: inline-block;
  height: 32px;
  vertical-align: bottom;
  width: 100%;
  margin-left: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 2px solid #fff;
}

.menu-link-tag {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

// MAIN ICON \/ 
.menu-icon {
  display: flex;
  color: #fff;
  font-size: 35px;
  margin-right: 10px;
  cursor: pointer;
}

// DOWN INFO STYLE
.user-container {
  //background-color: beige;
  display: flex;
  height: 60px;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.user-logo {
  display: flex;
  z-index: 3;
  height: 100%;
  background-color: var(--darkgray-color);
  border-radius: 50%;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-name {
  font-size: 1.5rem;
  padding-left: 0.35rem;
  color: var(--basebg-color);
}

.user-logout {
  padding-left: 0.5rem;
  font-size: 1rem;
  color: black;
  z-index: 1;
  text-transform: uppercase;
}

.logout-background {
  background-color: var(--lightgray-color);
  display: block;
  width: 180px;
  height: 1.4rem;
  position: absolute;
  bottom: 0px;
  right: 50px;
  border-radius: 7px;
}

.logout-background-snippet {
  background-color: var(--darkgray-color);
  display: block;
  height: 1.4rem;
  width: 20px;
  position: absolute;
  bottom: 0px;
  right: 42px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

