@use "varsmodule" as *;

/* MAIN AND UP STYLE */
.navbar {
  display: flex;
}

.navbar > * {
  transition: 0.5s;
}

.navbar-container {
  height: 100vh;
  width: 280px;
  border-right: 2px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  border-style: solid;
  border-color: $additional-color;
}

.upper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 8%;
  width: 100%;
  background-color: $primary-color;
  border-bottom-right-radius: 10px;
}

.logo-container {
  display: flex;
}

.logo-image {
  margin: 0 20px 0 20px; 
  color: $white;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.logo-image-link {
  display: flex;
  align-items: center;
}

.logo-app-name {
  font-size: 25px;
  font-family: sans-serif;
  color: $white;
}

/* HIDE MENU */
.hide {
  transition: 0.5s;

  &.navbar-container {
    width: 80px;
  }

  &.upper-container {
    gap: 0;
    justify-content: space-around;
  }

  &.menu-icon {
    margin: 0;
  }

  &.logo-app-name {
    display: none;
  }

  &.logo-image {
    margin: 0;
  }

  &.menu-item {
    width: 64px;
  }

  &.menu-link-tag {
    display: none;
  }
}

/* MENU STYLE */
.menu-container {
  height: 80%;
  background-color: $white;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.menu-link:visited {
  color: $white;
}

.menu-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}

.menu-link:hover {
  .menu-item {
    background-color: $primary-color;
  }

  .menu-link-icon {
      font-size: 32px;
      transition: 0.5s;
  }

  .menu-link-tag {
    font-size: 21px;
    transition: 0.5s;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  margin-top: 25px;
  width: 230px;
  height: 60px;
  background-color: $secondary-color;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.menu-link-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 30px;
  transition: 0.5s;
}

.menu-link-icon::after {
  content: "";
  display: inline-block;
  height: 32px;
  vertical-align: bottom;
  width: 100%;
  margin-left: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 2px solid $white;
}

.menu-link-tag {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

/* MAIN ICON \/ */
.menu-icon {
  display: flex;
  color: $white;
  font-size: 35px;
  margin-right: 10px;
  cursor: pointer;
}

/* DOWN INFO STYLE */
.user-tile {
  display: flex;
  background-color: rgb(207, 207, 207);
  margin-left: 20px;
  height: 55%;
  width: 80%;
}

.user-container {
  display: flex;
  align-items: center;
  height: 12%;
  /*background-color: beige;*/
}

.user-avatar {
  background-color: gray;
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
}

.user-name {
  align-self: flex-end;
  background-color: gray;
  height: 35%;
  width: 90%;
}

