.widget-box {
  width: 100px;
  background-color: var(--lightgray-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 30px;
  font-size: 1rem;
  margin-left: 15px;
  cursor: pointer;
  position: relative;
  top: 10px;
  z-index: 1;
}

.clicked {
  font-size: 1.3rem;
  height: 35px;
}
