.wrapper {
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 420px;
}

//TODO - SET SIZE OF UPPER COMPONENTS TO BEHAVE MORE NATURAL TOGETHER

.specifiers {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: self-end;
  align-self: flex-end;
  height: 40px;
}

.date {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  height: 45px;
  position: relative;
  top: 10px;
  background-color: var(--lightgray-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.dateSpan {
  align-self: center;
  font-size: 1.3rem;
  margin-left: 5px;
}

.block {
  flex-grow: 2;
  width: 100%;
  height: 350px;
  border: 4px solid var(--lightgray-color);
  border-radius: 10px;
  background-color: var(--basebg-color);
  z-index: 3;
}

.widgetBox {
  width: 100px;
  background-color: var(--lightgray-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 30px;
  font-size: 1rem;
  margin-left: 15px;
  cursor: pointer;
  position: relative;
  top: 10px;
  z-index: 1;
}

.clicked {
  font-size: 1.3rem;
  height: 35px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 400px;
  }

  .widgetBox {
    width: 60px;
  }
}
