.modeContainer {
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: burlywood;
}

.modeText {
    font-size: 1.8vw;
    font-weight: bold;
}

.line {
    width: 85%;
    margin: 0 auto;
}

.themesContainer {
    display: flex;
    width: 80%;
    height: 75vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
    // background-color: gold;
}

.paletteElement {
    display: flex;
    flex-basis: 17.5%; 
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin: 0.5%;
    // background-color: tomato;
}

.paletteName {
    margin: 0 1vw;
    font-size: 1.6vw;
    font-weight: bold;
}

.firstLayer {
    width: 24%;
}

.secondLayer {
    width: 76%;
}

.thirdLayer {
    width: 66%;
}

.fourthLayer {
    width: 52%;
}

.firstLayer, .secondLayer, .thirdLayer, .fourthLayer {
    display: flex;
    justify-content: flex-end;
    height: 3vw;
    border-radius: 8px;
}

@media screen and (max-width: 1440px) {
    .paletteName {
        font-size: 2vw;
    }

    .firstLayer {
        margin: auto 0;
        width: 30%;
    }

    .firstLayer, .secondLayer, .thirdLayer, .fourthLayer {
        height: 3.75vw;
    }
}

@media screen and (max-width: 1024px) {
    .paletteElement {
        width: 40%;
    }

    .paletteName {
        font-size: 2.4vw;
    }

    .firstLayer {
        margin: auto 0;
        width: 37.5%;
    }

    .firstLayer, .secondLayer, .thirdLayer, .fourthLayer {
        height: 4.8vw;
    }
}