.modeContainer {
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: burlywood;
}

.modeText {
    font-size: 1.8vw;
    font-weight: bold;
}

.line {
    width: 85%;
    margin: 0 auto;
}

.themesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 18pt;
    padding-top: 24pt;
    justify-items: center;
}


.paletteElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 8pt 15pt 8pt 15pt;
    background-color: var(--lightgray-color);
    border-radius: 8pt;
    transition: 0.2s;
    &:hover {
        cursor: pointer;
        background-color: #eee;
        transition: 0.2s;
    }
}

.paletteName {
    font-size: 1.6vw;
    font-weight: bold;
}

.firstLayer {
    width: 24%;
}

.secondLayer {
    width: 76%;
}

.thirdLayer {
    width: 66%;
}

.fourthLayer {
    width: 52%;
}

.firstLayer, .secondLayer, .thirdLayer, .fourthLayer {
    display: flex;
    justify-content: flex-end;
    height: 3vw;
    border-radius: 8px;
}

@media screen and (max-width: 1440px) {
    .paletteName {
        font-size: 2vw;
    }

    .firstLayer {
        margin: auto 0;
        width: 30%;
    }

    .firstLayer, .secondLayer, .thirdLayer, .fourthLayer {
        height: 3.75vw;
    }
}

@media screen and (max-width: 1024px) {
    .paletteElement {
        width: 40%;
    }

    .paletteName {
        font-size: 2.4vw;
    }

    .firstLayer {
        margin: auto 0;
        width: 37.5%;
    }

    .firstLayer, .secondLayer, .thirdLayer, .fourthLayer {
        height: 4.8vw;
    }
}